{% extends "::base.html.twig" %}

{% block title %}Statistiques{% endblock %}

{% block body %}

<div class="row">
    {% for category in categories %}
        <div class="col-md-auto grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">{{ category.nom }}</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">{{ comptes[category.id] }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="dashboard-area-chart" height="80"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
